@media (min-width: 1200px) and (max-width: 1399.99px) {

    /* home page start */
    .wsus__featured_services_text .title {
        font-size: 22px;
    }

    .wsus__featured_services_img .category::after {
        right: 5px;
    }

    .wsus__single_services_text .title {
        font-size: 22px;
    }

    .wsus__seller_join_img {
        height: 270px;
    }

    .wsus__app_download_img {
        height: 355px;
    }

    .wsus__footer_payment ul li {
        width: 31.4%;
    }

    .wsus__copyright {
        margin-top: 100px !important;
    }

    /* home page end */

    /* blog details start */
    .wsus__single_comm_text {
        width: 83%;
    }

    .wsus__related_blog ul li .text {
        width: 69%;
    }

    .wsus__blog_tags ul li a {
        font-size: 14px;
        padding: 5px 14px;
    }

    /* blog details end */

    .wsus__single_blog_text a {
        font-size: 22px;
    }

    /* booking start */
    .wsus__booking_payment li {
        width: 104px;
        height: 50px;
    }

    /* booking end */

    /* service details start */
    .wsus__single_review_top .text {
        width: 83%;
    }

    .wsus__package {
        padding: 30px;
    }

    .wsus__service_provider {
        padding: 20px;
    }

    /* service details end */
}

@media (min-width: 992px) and (max-width: 1199.99px) {

    /* home page start */

    .wsus__bannert_text h1,
    .wsus__bannert_text h1 span {
        font-size: 40px;
    }

    .wsus__banner_counter {
        right: -260px;
    }

    .wsus__single_category {
        height: 240px;
    }

    .wsus__featured_services_item {
        display: block;
    }

    .wsus__featured_services_img {
        width: 98%;
    }

    .wsus__featured_services_text {
        padding: 25px 25px 25px 25px;
        width: 100%;
    }

    .wsus__seller_join_img {
        height: 365px;
    }

    .wsus__seller_join_text h3 {
        font-size: 35px;
    }

    .wsus__app_download_img {
        height: 375px;
    }

    .wsus__footer_content h4,
    .wsus__footer_payment h4 {
        font-size: 20px;
    }

    .wsus__footer_payment ul li {
        width: 31%;
    }

    .wsus__single_services .category::after {
        right: 5px;
    }

    .wsus__single_services .book_btn::after {
        top: -13px;
    }

    /* home page end */

    /* about page start */
    .wsus__single_work {
        padding: 20px;
    }

    .wsus__about_reasons_img .img_2 {
        width: 280px !important;
        height: 280px !important;
    }

    /* about page end */

    /* blog details start */
    .wsus__blog_details_img {
        height: 400px;
    }

    .wsus__blog_details_text h2 {
        font-size: 25px;
    }

    .blog_det_button li a {
        padding: 20px;
    }

    .blog_det_button li a h3 {
        font-size: 22px;
    }

    .wsus__single_comm_text {
        width: 79%;
    }

    .wsus__related_blog ul li .text {
        width: 85%;
    }

    .blog_sidebar {
        padding: 15px;
    }

    .wsus__related_blog ul li .text a {
        font-size: 16px;
    }

    .wsus__related_blog ul li .text {
        width: 64%;
    }

    .wsus__blog_newsletter_overlay {
        padding: 15px;
    }

    .wsus__blog_det_slider .venobox {
        height: 130px;
    }

    /* blog details end */

    .wsus__blog_page .wsus__single_blog_img {
        height: 200px;
    }

    .wsus__blog_page .wsus__single_blog_text a {
        font-size: 18px;
    }

    .wsus__blog_page .wsus__single_blog_text {
        padding: 20px;
    }

    /* booking start */
    .wsus__booking_img {
        height: 350px;
    }

    .wsus__booking_payment li {
        width: 87px;
        height: 45px;
    }

    /* booking end */

    .wsus__contact_info .contact_text {
        padding: 49.5px 20px;
    }

    .wsus__faq_area .accordion-item button {
        font-size: 16px;
    }

    .wsus__sellar_search form {
        width: 40%;
    }

    /* service details start */
    .wsus__single_review_top .text {
        width: 80%;
    }

    .wsus__service_details_img {
        height: 400px;
    }

    .wsus__package {
        padding: 25px;
    }

    .wsus__service_provider {
        padding: 5px;
    }

    .wsus__service_provider img {
        margin-top: 25px;
    }

    /* service details end */

    /* dashboard start */
    .wsus__dashboard_info {
        padding: 20px;
    }

    .wsus_dashboard_order table tr th,
    .wsus_dashboard_order table tr td {
        width: 150px;
    }

    .wsus__dashboard .wsus__single_review_top .text {
        width: 79%;
    }

    /* dashboard end */
}

@media (min-width: 768px) and (max-width: 991.99px) {

    /* home page start */
    .wsus__topbar {
        height: auto;
    }

    .wsus__topbar_info li a::after,
    .wsus__topbar_language::after {
        display: none;
    }

    .wsus__topbar_icon li a {
        margin-right: 7px;
    }

    .wsus__topbar_info li a,
    .wsus__topbar_info li span {
        margin-left: 0;
    }

    .wsus__topbar_language {
        padding-left: 0;
        margin-left: 25px;
    }

    .main_menu .navbar-toggler {
        color: var(--colorWhite);
        background-color: var(--colorPrimary);
        border: none;
        width: 35px;
        height: 35px;
        line-height: 35px;
        text-align: center;
        border-radius: 3px;
        padding: 0;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        -ms-border-radius: 3px;
        -o-border-radius: 3px;
    }

    .wsus__single_services .book_btn::after {
        top: -13px;
    }

    .main_menu #navbarNav {
        background: var(--colorWhite);
        border-top: 1px solid var(--colorPrimary);
        margin-top: 3px;
    }

    .main_menu .container {
        padding: 5px 11px 10px 11px;
    }

    .main_menu .nav-item .nav-link {
        text-align: center;
    }

    .main_menu .navbar-nav {
        line-height: 50px;
    }

    .main_menu .wsus__droap_menu {
        left: 50%;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        height: 250px;
        overflow-y: auto;
    }

    .main_menu .wsus__right_menu {
        justify-content: center !important;
    }

    .main_menu .search_form {
        right: -135px;
        width: 400px;
    }

    .wsus__bannert_text h1 {
        font-size: 45px;
    }

    .wsus__bannert_text h1 span {
        font-size: 45px;
    }

    .wsus__bannert_text {
        padding-top: 185px;
    }

    .wsus__banner {
        height: auto;
        padding-bottom: 70px;
    }

    .wsus__banner_counter {
        top: 25%;
        right: 60px;
        width: 200px;
        height: 85px;
    }

    .wsus__featured_services_img {
        width: 45%;
    }

    .wsus__single_services .book_btn::after {
        top: -13px;
    }

    .wsus__featured_services_img .category::after {
        right: 5px;
    }

    .wsus__featured_services_text {
        padding: 10px 10px 10px 0;
    }

    .wsus__featured_services_text .title {
        font-size: 22px;
    }

    .wsus__single_counter_img::before {
        display: none;
    }

    .wsus__single_counter h3 {
        margin-top: 7px;
    }

    .wsus__single_counter {
        margin-bottom: 40px;
    }

    .wsus__counter_overlay {
        padding: 70px 0px 25px;
    }

    .wsus__seller_join_text h3 {
        font-size: 30px;
    }

    .wsus__seller_join_img {
        margin-top: 30px;
        height: 330px;
    }

    .wsus__app_download_img {
        height: 395px;
    }

    .wsus__app_download_text h2 {
        font-size: 25px;
    }

    .wsus__single_services_text .title {
        font-size: 22px;
    }

    .wsus__app_download_text {
        margin-top: 30px;
    }

    .wsus__app_download_text ul li a {
        margin-bottom: 10px;
    }

    .wsus__app_download {
        padding: 70px 0px 75px 0px;
    }

    .wsus__single_testimonial_text h3 {
        font-size: 18px;
    }

    .wsus__single_blog_text a {
        font-size: 22px;
    }

    .wsus__copyright {
        margin-top: 75px !important;
    }

    .wsus__subscribe_text {
        margin: 30px 35px 35px 35px !important;
    }

    .wsus__subscribe_text h2 {
        font-size: 30px;
    }

    .wsus__subscribe_text p {
        font-size: 15px;
        margin-top: 10px;
    }

    .wsus__subscribe_text form {
        margin-top: 15px;
    }

    .wsus__footer_contact .footer_logo {
        margin-bottom: 17px;
    }

    .wsus__footer_contact ul {
        margin-top: 25px;
    }

    .wsus__footer_contact {
        margin-bottom: 50px;
    }

    .wsus__footer_content h4,
    .wsus__footer_payment h4 {
        font-size: 22px;
        margin-bottom: 10px;
    }

    .wsus__footer_contact,
    .wsus__footer_content {
        margin-bottom: 35px;
    }

    .wsus__footer_payment p {
        margin: 0px 0px 20px;
    }

    .wsus__footer_payment ul li {
        width: 23%;
    }

    .wsus__single_category {
        height: 240px;
    }

    /* home page end */

    /* 404 page start  */
    .wsus__404_text h3 {
        font-size: 23px;
    }

    .wsus__404_text h2 {
        font-size: 100px;
    }

    .wsus__404_text {
        width: 100%;
    }

    .wsus__404_text {
        width: 100%;
        padding-top: 90px;
    }

    .wsus__404_text p {
        margin: 10px 0px 20px;
    }

    /* 404 page end  */

    /* about page start */
    .wsus__breadcrumb_overlay {
        padding: 190px 0px 73px;
    }

    .wsus__breadcrumb h1 {
        font-size: 30px;
        margin-bottom: 5px;
    }

    .wsus__section_heading h2 {
        font-size: 35px;
    }

    .wsus__single_work {
        padding: 20px;
    }

    .wsus__about_us_text h3 {
        font-size: 30px;
        margin-top: 145px;
    }

    .wus__about_rating {
        width: 100%;
        bottom: -125px !important;
    }

    .wus__about_rating ul {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .wsus__about_us_img .img_1 {
        height: 350px !important;
    }

    .wsus__about_us_img .img_2 {
        bottom: -40px;
        right: 0;
        height: 250px !important;
    }

    .wsus__about_reasons_img .img_1 {
        position: static;
    }

    .wsus__about_reasons_img .img_2 {
        bottom: 30px;
        left: auto;
        width: 250px !important;
        height: 250px !important;
        right: 0;
    }

    .wsus__about_reasons_img {
        margin-top: 30px;
        margin-bottom: 40px;
    }

    /* about page end */

    /* blog details start */
    .wsus__blog_details_img {
        height: 400px;
    }

    .wsus__blog_details_text h2 {
        font-size: 25px;
    }

    .blog_det_button li a {
        padding: 20px;
    }

    .blog_det_button li a h3 {
        font-size: 22px;
    }

    .wsus__single_comm_text {
        width: 82%;
    }

    .comment_input {
        margin-bottom: 25px;
    }

    .wsus__related_blog ul li .text {
        width: 85%;
    }

    /* blog details end */

    /* booking  start */
    .wsus__booking_payment li {
        width: 99px;
        height: 50px;
    }

    .wsus__booking_button_area {
        margin-bottom: 25px;
    }

    .wsus__booking_img {
        height: 350px;
    }

    /* booking  end */

    /* contact start */
    .contact_input {
        margin-top: 25px;
    }

    /* contact end */

    .wsus__faq_area .accordion-item button {
        font-size: 16px;
    }

    /* sellar page start */
    .wsus__sellar_top_text {
        padding-left: 0;
    }

    .wsus__sellar_top_text h2 {
        font-size: 30px;
    }

    .wsus__sellar_top_text ul li {
        width: 100%;
        margin-bottom: 10px;
    }

    .wsus__sellar_search h3 {
        font-size: 35px;
    }

    .wsus__sellar_search form {
        width: 50%;
    }

    /* sellar page end */

    /* service details start */
    .wsus__service_provider {
        padding: 20px;
        margin-top: 0 !important;
    }

    .wsus__service_details_img {
        height: 400px;
    }

    .wsus__service_details_content {
        margin-bottom: 25px;
    }

    .wsus__package {
        padding: 30px;
    }

    .wsus__single_review_top .text {
        width: 82%;
    }

    /* service details end */

    /* dashboard start */
    .wsus__dashboard_content {
        padding: 0 !important;
    }

    .wsus__dashboard_menu {
        height: auto;
        margin-bottom: 25px;
    }

    .wsus__dashboard_info {
        margin-bottom: 25px;
    }

    .wsus_dash_personal_info {
        padding: 15px;
        margin-top: 0;
    }

    .wsus_dash_personal_info h4 {
        font-size: 16px;
    }

    .wsus__dashboard_area {
        border: none;
    }

    .info_modal .modal-content {
        padding: 0;
        margin-top: 67px;
    }

    .wsus__comment_imput_single {
        margin-bottom: 10px;
    }

    .wsus__dashboard .comment_input {
        margin-bottom: 0;
    }

    /* dashboard end */

    .single_service_header p {
        width: 100%;
        margin-top: 20px;
    }
}

@media (min-width: 576px) and (max-width: 767.99px) {

    /* home page start */
    .wsus__topbar {
        height: auto;
    }

    .wsus__topbar_right {
        justify-content: center;
        padding-top: 3px;
    }

    .wsus__topbar_info li a::after,
    .wsus__topbar_language::after {
        display: none;
    }

    .wsus__topbar_icon li a {
        margin-right: 7px;
    }

    .wsus__topbar_info li a,
    .wsus__topbar_info li span {
        padding-left: 0;
        margin-left: 0;
    }

    .wsus__topbar_info {
        justify-content: space-between !important;
    }

    .wsus__topbar_info {
        line-height: 30px;
    }

    .wsus__topbar_language,
    .wsus__topbar_icon {
        line-height: 35px;
    }

    .main_menu {
        top: 67px;
    }

    .main_menu .navbar-toggler {
        color: var(--colorWhite);
        background-color: var(--colorPrimary);
        border: none;
        width: 35px;
        height: 35px;
        line-height: 35px;
        text-align: center;
        border-radius: 3px;
        padding: 0;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        -ms-border-radius: 3px;
        -o-border-radius: 3px;
    }

    .main_menu #navbarNav {
        background: var(--colorWhite);
        border-top: 1px solid var(--colorPrimary);
        margin-top: 3px;
    }

    .main_menu .container {
        padding: 5px 11px 10px 12px;
    }

    .main_menu .nav-item .nav-link {
        text-align: center;
    }

    .main_menu .navbar-nav {
        line-height: 50px;
    }

    .main_menu .wsus__droap_menu {
        left: 50%;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        height: 250px;
        overflow-y: auto;
    }

    .main_menu .wsus__right_menu {
        justify-content: center !important;
    }

    .main_menu .search_form {
        right: -135px;
        width: 400px;
    }

    .wsus__bannert_text h1 {
        font-size: 35px;
    }

    .wsus__bannert_text h1 span {
        font-size: 35px;
    }

    .wsus__bannert_text h6 {
        font-size: 16px;
        margin-bottom: 16px;
    }

    .wsus__bannert_text form ul li {
        width: 100%;
    }

    .wsus__bannert_text form ul {
        border-radius: 5px;
        padding: 15px 0px 15px 15px;
    }

    .wsus__bannert_text form ul li .nice-select {
        margin-bottom: 10px;
    }

    .wsus__bannert_text {
        padding-top: 195px;
    }

    .wsus__banner {
        height: auto;
        padding-bottom: 193px;
    }

    .wsus__banner_counter {
        top: 102%;
        right: auto;
        transform: translateX(-50%);
        left: 50%;
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        width: 270px;
    }

    .wsus__section_heading h2 {
        font-size: 25px;
    }

    .wsus__featured_services_img {
        width: 45%;
        height: 230px;
    }

    .wsus__featured_services_text {
        padding: 10px 10px 10px 0;
    }

    .wsus__featured_services_text .title {
        font-size: 20px;
    }

    .wsus__single_counter_img::before {
        display: none;
    }

    .wsus__single_counter h3 {
        margin-top: 7px;
    }

    .wsus__single_counter {
        margin-bottom: 40px;
    }

    .wsus__counter_overlay {
        padding: 70px 0px 25px;
    }

    .wsus__seller_join_text h3 {
        font-size: 30px;
    }

    .wsus__seller_join_img {
        margin-top: 30px;
        height: 330px;
    }

    .wsus__app_download_img {
        height: 290px;
    }

    .wsus__app_download_text h2 {
        font-size: 25px;
    }

    .wsus__app_download_text {
        margin-top: 30px;
    }

    .wsus__app_download_text ul li a {
        margin-bottom: 10px;
    }

    .wsus__app_download {
        padding: 70px 0px 75px 0px;
    }

    .wsus__single_testimonial_text h3 {
        font-size: 18px;
    }

    .wsus__subscribe_text {
        margin: 30px 35px 35px 35px;
    }

    .wsus__subscribe_text h2 {
        font-size: 30px;
    }

    .wsus__subscribe_text p {
        font-size: 15px;
        margin-top: 10px;
    }

    .wsus__subscribe_text form {
        margin-top: 15px;
    }

    .wsus__footer_contact .footer_logo {
        margin-bottom: 17px;
    }

    .wsus__footer_contact ul {
        margin-top: 25px;
    }

    .wsus__footer_contact {
        margin-bottom: 50px;
    }

    .wsus__footer_content h4,
    .wsus__footer_payment h4 {
        font-size: 22px;
        margin-bottom: 10px;
    }

    .wsus__footer_contact,
    .wsus__footer_content {
        margin-bottom: 35px;
    }

    .wsus__footer_payment p {
        margin: 0px 0px 20px;
    }

    .wsus__footer_payment ul li {
        width: 19%;
    }

    /* home page end */

    /* 404 page start  */
    .wsus__404_text h3 {
        font-size: 23px;
    }

    .wsus__404_text h2 {
        font-size: 100px;
    }

    .wsus__404_text {
        width: 100%;
    }

    .wsus__404_text {
        width: 100%;
        padding-top: 100px;
    }

    .wsus__404_text p {
        margin: 10px 0px 20px;
    }

    /* 404 page end  */

    /* about page start */
    .wsus__breadcrumb_overlay {
        padding: 190px 0px 55px;
    }

    .wsus__breadcrumb h1 {
        font-size: 30px;
        margin-bottom: 5px;
    }

    .wsus__single_work {
        padding: 20px;
    }

    .wsus__about_us_text h3 {
        font-size: 30px;
        margin-top: 185px;
    }

    .wus__about_rating {
        width: 100%;
        display: block;
        height: auto;
        bottom: -165px !important;
    }

    .wus__about_rating ul {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .wsus__about_us_img .img_1 {
        height: 350px !important;
    }

    .wsus__about_us_img .img_2 {
        bottom: -40px;
        right: 0;
        height: 250px !important;
    }

    .wsus__about_reasons_img .img_1 {
        position: static;
    }

    .wsus__about_reasons_img .img_2 {
        bottom: 30px;
        left: auto;
        width: 250px !important;
        height: 250px !important;
        right: 0;
    }

    .wsus__about_reasons_img {
        margin-top: 30px;
        margin-bottom: 40px;
    }

    /* about page end */

    /* blog details start */
    .wsus__blog_details_img {
        height: 300px;
    }

    .wsus__blog_details_text h2 {
        font-size: 25px;
    }

    .blog_tags_share .tags {
        margin-bottom: 15px;
    }

    .blog_det_button li a {
        padding: 20px;
    }

    .blog_det_button li a h3 {
        font-size: 22px;
    }

    .wsus__single_comm_text {
        width: 75%;
    }

    .comment_input {
        margin-bottom: 25px;
    }

    .wsus__related_blog ul li .text {
        width: 78%;
    }

    /* blog details end */

    /* booking  start */
    .wsus__booking_payment li {
        width: 102px;
        height: 50px;
        border-right: 1px solid rgb(238, 238, 238) !important;
        border-bottom: 1px solid rgb(238, 238, 238) !important;
    }

    .wsus__booking_button_area {
        margin-bottom: 25px;
    }

    .wsus__booking_text h2 {
        font-size: 20px;
    }

    .wsus__booking_location h3,
    .wsus__booking_pic_up h3 {
        font-size: 20px;
    }

    .wsus__booking_pic_up ul li a {
        font-size: 14px;
        padding: 10px 15px;
    }

    .wsus__booking_img {
        height: 300px;
    }

    /* booking  end */

    /* contact start */
    .contact_input {
        margin-top: 25px;
    }

    .comment_input h4 {
        font-size: 20px;
    }

    .contact_map {
        height: 300px;
    }

    /* contact end */

    .wsus__faq_area .accordion-item button {
        font-size: 16px;
    }

    /* sellar page start */
    .wsus__sellar_top_text {
        padding-left: 0;
    }

    .wsus__sellar_top_text h2 {
        font-size: 25px;
    }

    .wsus__sellar_top_text ul li {
        margin-bottom: 10px;
    }

    .wsus__sellar_top_img {
        margin-top: 37px;
        margin-bottom: 30px;
        height: 450px;
    }

    .wsus__sellar_top_overlay {
        padding-bottom: 60px;
    }

    .wsus__sellar_search h3 {
        font-size: 25px;
    }

    .wsus__sellar_search form {
        width: 62%;
    }

    .wsus__sellar_search {
        margin-top: 5px;
    }

    /* sellar page end */

    /* service details start */
    .wsus__service_details_img {
        height: 300px;
    }

    .wsus__service_details_text h2 {
        font-size: 20px;
    }

    .wsus__service_details_content {
        margin-bottom: 25px;
    }

    .wsus__single_review_top img {
        margin-bottom: 15px;
    }

    .wsus__single_review_top .text {
        width: 75%;
    }

    .wsus__search_filter ul li {
        width: 50%;
        margin: 2px 0px;
    }

    .wsus__search_filter {
        border-radius: 15px;
    }

    /* service details end */

    /* sign in start */
    .wsus__login_area h2 {
        font-size: 30px;
    }

    /* sign in end */


    /* dashboard start */
    .wsus__dashboard_content {
        padding: 0 !important;
    }

    .wsus__dashboard_menu {
        height: auto;
        margin-bottom: 25px;
    }

    .wsus__dashboard_info {
        margin-bottom: 25px;
    }

    .wsus_dash_personal_info {
        padding: 15px;
        margin-top: 0;
    }

    .wsus_dash_personal_info h4 {
        font-size: 16px;
    }

    .wsus__dashboard_area {
        border: none;
    }

    .wsus_dashboard_order table tr th,
    .wsus_dashboard_order table tr td {
        width: 140px;
    }

    .wsus_dashboard_body h3 {
        font-size: 18px;
    }

    .info_modal .modal-content {
        width: 450px !important;
        padding: 0;
        margin-top: 67px;
    }

    .wsus__comment_imput_single {
        margin-bottom: 10px;
    }

    .wsus__dashboard .comment_input {
        margin-bottom: 0;
    }

    /* dashboard end */
}

@media (max-width: 575.99px) {

    /* home page start */
    .wsus__topbar {
        height: auto;
    }

    .wsus__topbar_language {
        padding-left: 0;
        margin-left: auto;
    }

    .wsus__topbar_info li a::after,
    .wsus__topbar_language::after {
        display: none;
    }

    .wsus__topbar_icon li a {
        margin-right: 7px;
    }

    .wsus__topbar_info li a,
    .wsus__topbar_info li span {
        padding-left: 0;
        margin-left: 0;
    }

    .wsus__topbar_info {
        justify-content: space-between !important;
    }

    .wsus__topbar_info {
        line-height: 30px;
    }

    .wsus__topbar_language,
    .wsus__topbar_icon {
        line-height: 35px;
    }

    .wsus__select_language {
        left: auto;
        right: 0;
    }

    .main_menu {
        top: 67px;
    }

    .main_menu .navbar-toggler {
        color: var(--colorWhite);
        background-color: var(--colorPrimary);
        border: none;
        width: 35px;
        height: 35px;
        line-height: 35px;
        text-align: center;
        border-radius: 3px;
        padding: 0;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        -ms-border-radius: 3px;
        -o-border-radius: 3px;
        margin-right: 10px;
    }

    .main_menu #navbarNav {
        background: var(--colorWhite);
        border-top: 1px solid var(--colorPrimary);
        margin-top: 4px;
    }

    .main_menu .container {
        padding: 5px 0px 10px 0px;
    }

    .main_menu .navbar-brand {
        margin-left: 10px;
    }

    .main_menu .nav-item .nav-link {
        text-align: center;
    }

    .main_menu .navbar-nav {
        line-height: 50px;
    }

    .main_menu .wsus__droap_menu {
        left: 50%;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        height: 250px;
        overflow-y: auto;
    }

    .main_menu .wsus__right_menu {
        justify-content: center !important;
    }

    .main_menu .search_form {
        right: -80px;
        width: 300px;
    }

    .wsus__bannert_text h1 {
        font-size: 30px;
    }

    .wsus__bannert_text h1 span {
        font-size: 30px;
    }

    .wsus__bannert_text h6 {
        font-size: 16px;
        margin-bottom: 16px;
    }

    .wsus__bannert_text form ul li {
        width: 100%;
    }

    .wsus__bannert_text form ul {
        border-radius: 5px;
        padding: 15px 0px 15px 15px;
    }

    .wsus__bannert_text form ul li .nice-select {
        margin-bottom: 10px;
    }

    .wsus__bannert_text {
        padding-top: 243px;
    }

    .wsus__banner {
        height: auto;
        padding-bottom: 238px;
    }

    .wsus__banner_counter {
        top: 110%;
        right: auto;
        transform: translateX(-50%);
        left: 50%;
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        width: 270px;
    }

    .wsus__section_heading h2 {
        font-size: 25px;
    }

    .wsus__featured_services_item {
        display: block;
    }

    .wsus__featured_services_img {
        width: 96.5%;
        height: 200px;
    }

    .wsus__featured_services_text {
        padding: 15px !important;
        width: 100%;
    }

    .wsus__featured_services_text .title {
        font-size: 20px;
    }

    .wsus__single_counter_img::before {
        display: none;
    }

    .wsus__single_counter h3 {
        margin-top: 7px;
    }

    .wsus__single_counter {
        margin-bottom: 40px;
    }

    .wsus__counter_overlay {
        padding: 70px 0px 25px;
    }

    .wsus__single_services_text {
        padding: 15px;
    }

    .wsus__single_services_text .title {
        font-size: 20px;
    }

    .single_service_header {
        display: block;
    }

    .wsus__single_services_img {
        height: 200px;
    }

    .single_service_header p {
        margin-top: 20px;
    }

    .wsus__single_services .book_btn {
        bottom: 15px;
    }

    .wsus__seller_join_text h3 {
        font-size: 30px;
    }

    .wsus__seller_join_img {
        margin-top: 30px;
    }

    .wsus__app_download_img {
        height: 297px;
    }

    .wsus__app_download_text h2 {
        font-size: 25px;
    }

    .wsus__app_download_text {
        margin-top: 30px;
    }

    .wsus__app_download_text ul li a {
        margin-bottom: 10px;
        width: 210px;
    }

    .wsus__app_download {
        padding: 70px 0px 75px 0px;
    }

    .wsus__single_testimonial {
        padding: 40px 15px 15px 1px;
    }

    .wsus__single_testimonial .quot_icon {
        left: -5px;
    }

    .wsus__single_testimonial_text {
        padding-left: 30px;
    }

    .wsus__single_testimonial_text h3 {
        font-size: 18px;
    }

    .wsus__single_blog_img {
        height: 200px;
    }

    .wsus__single_blog_text {
        padding: 15px;
    }

    .wsus__single_blog_text a {
        font-size: 20px;
    }

    .wsus__subscribe_text {
        margin: 10px 15px 15px 15px;
    }

    .wsus__subscribe_text h2 {
        font-size: 30px;
    }

    .wsus__subscribe_text p {
        font-size: 15px;
        margin-top: 10px;
    }

    .wsus__subscribe_text form {
        margin-top: 15px;
    }

    .wsus__subscribe_text form input {
        padding: 12px;
    }

    .wsus__subscribe_text form button {
        right: 1px;
        padding: 10px 15px;
    }

    .wsus__footer_contact .footer_logo {
        margin-bottom: 17px;
    }

    .wsus__footer_contact ul {
        margin-top: 25px;
    }

    .wsus__footer_contact {
        margin-bottom: 50px;
    }

    .wsus__footer_content h4,
    .wsus__footer_payment h4 {
        font-size: 22px;
        margin-bottom: 10px;
    }

    .wsus__footer_contact,
    .wsus__footer_content {
        margin-bottom: 35px;
    }

    .wsus__footer_payment p {
        margin: 0px 0px 20px;
    }

    .wsus__footer_payment ul li {
        width: 31.6%;
    }

    .wsus__bannert_text p {
        font-size: 14px;
    }

    /* home page end */

    /* 404 page start  */
    .wsus__404_text h3 {
        font-size: 23px;
    }

    .wsus__404_text h2 {
        font-size: 100px;
    }

    .wsus__404_text {
        width: 100%;
    }

    .wsus__404_text {
        width: 100%;
        padding-top: 100px;
    }

    .wsus__404_text p {
        margin: 10px 0px 20px;
    }

    /* 404 page end  */

    /* about page start */
    .wsus__breadcrumb_overlay {
        padding: 190px 0px 55px;
    }

    .wsus__breadcrumb h1 {
        font-size: 30px;
        margin-bottom: 5px;
    }

    .wsus__single_work {
        padding: 20px;
    }

    .wsus__about_us_text h3 {
        font-size: 30px;
        margin-top: 185px;
    }

    .wus__about_rating {
        width: 100%;
        display: block;
        height: auto;
        bottom: -165px !important;
    }

    .wus__about_rating ul {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .wsus__about_us_img .img_1 {
        height: 350px !important;
    }

    .wsus__about_us_img .img_2 {
        bottom: -40px;
        right: 0;
        height: 250px !important;
    }

    .wsus__about_reasons_img .img_1 {
        position: static;
    }

    .wsus__about_reasons_img .img_2 {
        bottom: 30px;
        left: auto;
        width: 250px !important;
        height: 250px !important;
        right: 0;
    }

    .wsus__about_reasons_img {
        margin-top: 30px;
        margin-bottom: 40px;
    }

    /* about page end */

    /* blog details start */
    .wsus__blog_details_img {
        height: 220px;
    }

    .wsus__blog_details_text .details_bloger li {
        margin: 5px 0px 5px 0px;
        width: 100%;
    }

    .wsus__blog_details_text h2 {
        font-size: 20px;
    }

    .wsus__blog_quot_text {
        padding: 20px 20px 20px 40px;
    }

    .wsus__blog_quot_text::before {
        left: 2px;
    }

    .wsus__blog_quot_text::after {
        left: 16px;
    }

    .blog_tags_share .tags {
        margin-bottom: 15px;
    }

    .blog_det_button li {
        width: 100%;
        margin: 2px 0px;
    }

    .blog_det_button li a {
        padding: 20px;
    }

    .blog_det_button li a h3 {
        font-size: 22px;
    }

    .wsus__single_comment {
        padding: 15px;
    }

    .wsus__single_comm_text h3 {
        display: block;
        margin-top: 5px;
    }

    .wsus__single_comm_text h3 span {
        display: table;
        margin-top: 5px;
    }

    .comment_input {
        padding: 15px;
        margin-bottom: 25px;
    }

    .blog_sidebar {
        padding: 15px;
    }

    .wsus__related_blog ul li .text {
        width: 66%;
    }

    .wsus__related_blog ul li .text a {
        font-size: 16px;
    }

    .wsus__blog_newsletter_overlay {
        padding: 15px;
    }

    /* blog details end */

    /* booking  start */
    .booking_bar li {
        padding: 5px 15px;
        font-size: 12px;
        margin: 0px 12px 0px 0px;
    }

    .booking_bar li::after {
        display: none;
    }

    .wsus__booking_img {
        height: 300px;
    }

    .wsus__booking_confirm_text h3 {
        font-size: 20px;
    }

    .wsus__booking_confirm_text p span {
        width: 100%;
    }

    .wsus__booking_payment li {
        width: 74px;
        height: 30px;
        border-right: 1px solid rgb(238, 238, 238) !important;
        border-bottom: 1px solid rgb(238, 238, 238) !important;
    }

    .wsus__booking_button_area {
        margin-bottom: 25px;
    }

    .wsus__booking_text {
        padding: 15px;
    }

    .wsus__booking_text h2 {
        font-size: 20px;
    }

    .wsus__booking_location {
        padding: 15px 15px 25px 15px;
    }

    .wsus__booking_calendar,
    .wsus__booking_pic_up {
        padding: 15px;
    }

    .wsus__booking_location h3,
    .wsus__booking_pic_up h3 {
        font-size: 20px;
    }

    .wsus__booking_pic_up ul li a {
        font-size: 14px;
        padding: 10px 15px;
    }

    /* booking  end */

    /* contact start */
    .contact_input {
        margin-top: 25px;
    }

    .comment_input h4 {
        font-size: 20px;
    }

    .contact_map {
        height: 250px;
    }

    /* contact end */

    .wsus__faq_area .accordion-item button {
        font-size: 15px;
    }

    /* sellar page start */
    .wsus__sellar_top_text {
        padding-left: 0;
    }

    .wsus__sellar_top_text h2 {
        font-size: 25px;
    }

    .wsus__sellar_top_text ul li {
        margin-bottom: 10px;
        width: 100%;
    }

    .wsus__sellar_top_img {
        margin-top: 37px;
        margin-bottom: 30px;
    }

    .wsus__sellar_top_overlay {
        padding-bottom: 60px;
    }

    .wsus__sellar_search h3 {
        font-size: 25px;
    }

    .wsus__sellar_search form {
        width: 100%;
        margin-top: 10px;
    }

    /* sellar page end */

    /* service details start */
    .wsus__service_details_img {
        height: 220px;
    }

    .wsus__service_details_text h2 {
        font-size: 20px;
    }

    .wsus__service_details_text .nav-pills li {
        width: 100%;
        border-bottom: 1px solid var(--colorWhite);
    }

    .wsus__service_details_content {
        margin-bottom: 25px;
    }

    .wsus__package {
        padding: 30px;
    }

    .tab_details .details_time li span {
        width: 110px;
    }

    .wsus__service_provider {
        padding: 5px;
    }

    .wsus__service_provider img {
        margin-top: 30px;
    }

    .wsus__single_review_top img {
        margin-bottom: 15px;
    }

    .wsus__single_review_top .text {
        width: 100%;
    }

    .wsus__search_filter ul li {
        width: 100%;
        margin: 2px 0px;
    }

    .wsus__search_filter {
        border-radius: 15px;
    }

    /* service details end */

    /* sign in start */
    .wsus__login_area {
        padding: 15px;
    }

    .wsus__login_area h2 {
        font-size: 30px;
    }

    /* sign in end */

    /* dashboard start */
    .wsus__dashboard_content {
        padding: 0 !important;
    }

    .wsus__dashboard_menu {
        height: auto;
        margin-bottom: 25px;
    }

    .wsus__dashboard_info {
        margin-bottom: 25px;
    }

    .wsus_dash_personal_info {
        padding: 15px;
        margin-top: 0;
    }

    .wsus_dash_personal_info h4 {
        font-size: 16px;
    }

    .wsus_dash_personal_info p span {
        width: 100%;
    }

    .wsus__dashboard_area {
        border: none;
    }

    .wsus_dashboard_order table tr th,
    .wsus_dashboard_order table tr td {
        width: 140px;
    }

    .wsus_dashboard_body h3 {
        font-size: 18px;
    }

    .info_modal .modal-content {
        width: 310px !important;
        padding: 0;
        margin-top: 67px;
    }

    .wsus__comment_imput_single {
        margin-bottom: 10px;
    }

    .wsus__dashboard .modal-body .comment_input {
        margin-bottom: 0;
    }

    .wsus__dashboard .modal-content {
        padding: 0;
        width: 310px;
    }

    .wsus__dashboard .modal-footer button {
        padding: 10px 10px;
    }

    .wsus__dashboard .comment_input {
        margin-bottom: 0;
    }

    /* dashboard end */

    .wsus__login_area .form-check label,
    .wsus__login_imput a {
        font-size: 15px;
    }
}